<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings />
	<connectionStrings />
	<system.web>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="amt" tagName="Menu" src="~/system/controls/Menu.ascx" />
				<add tagPrefix="amt" tagName="Evaluation" src="~/system/controls/evaluationform.ascx" />
				<add tagPrefix="amt" tagName="Bookmarks" src="~/system/controls/bookmarks.ascx" />
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0" />
		<authorization>
			<allow users="*"/>
		  </authorization>
		  <securityPolicy>
				<trustLevel name="Full" policyFile="internal" />
		  </securityPolicy>
		  <trust 
			  level="Full" 
			  originUrl="smtp.gmail.com" 
			  processRequestInApplicationTrust="true" 
		 />
		<customErrors mode="Off" />
		<httpRuntime requestValidationMode="2.0" />
	</system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
	  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network
          host="smtp.gmail.com"
          port="25"
          defaultCredentials="true"
        />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
